# Tagging a commit with [circle front] will build the front page and perform test-doc.
# Tagging a commit with [circle full] will build everything.
version: 2.1
orbs:
  python: circleci/python@2.1.1
jobs:
    build_docs:
      executor:
        name: python/default
        # use Python 3.8
        tag: '3.8'
      steps:
        - checkout
        - run:
            name: Set BASH_ENV
            command: |
              echo "set -e" >> $BASH_ENV
              echo "export DISPLAY=:99" >> $BASH_ENV
              echo "export OPENBLAS_NUM_THREADS=4" >> $BASH_ENV
              echo "BASH_ENV:"
              cat $BASH_ENV

        - run:
            name: Merge with upstream
            command: |
              echo $(git log -1 --pretty=%B) | tee gitlog.txt
              echo ${CI_PULL_REQUEST//*pull\//} | tee merge.txt
              if [[ $(cat merge.txt) != "" ]]; then
                echo "Merging $(cat merge.txt)";
                git remote add upstream https://github.com/mvlearn/mvlearn.git;
                git pull --ff-only upstream "refs/pull/$(cat merge.txt)/merge";
                git fetch upstream main;
              fi

        # Load our data
        - restore_cache:
            keys:
              - data-cache-0
              - pip-cache

        # - run:
        #     name: Spin up Xvfb
        #     command: |
        #       which Xvfb

        # https://github.com/ContinuumIO/anaconda-issues/issues/9190#issuecomment-386508136
        # https://github.com/golemfactory/golem/issues/1019
        # - run:
        #     name: Fix libgcc_s.so.1 pthread_cancel bug
        #     command: |
        #       sudo apt-get update
        #       sudo apt-get install qt5-default

        - run:
            name: Get Python running
            command: |
              sudo apt-get install pandoc
              python -m pip install --user --upgrade --progress-bar off pip
              python -m pip install --user --upgrade --progress-bar off -r requirements/base.txt
              python -m pip install --user --upgrade --progress-bar off -r requirements/torch.txt
              python -m pip install --user --upgrade --progress-bar off -r requirements/multiviewica.txt
              python -m pip install --user --upgrade --progress-bar off -r docs/requirements.txt
              python -m pip install --user -e .

        - save_cache:
            key: pip-cache
            paths:
              - ~/.cache/pip

        # Look at what we have and fail early if there is some library conflict
        - run:
            name: Check installation
            command: |
               which python
               python -c "import mvlearn"

        # Build docs
        - run:
            name: make html
            no_output_timeout: 30m
            command: |
              cd docs;
              make html;

        # Save the outputs
        - store_artifacts:
            path: docs/_build/html/
            destination: dev
        - persist_to_workspace:
            root: docs/_build
            paths:
              - html

    deploy:
      executor:
        name: python/default
        # use Python 3.8
        tag: '3.8'
      steps:
        - attach_workspace:
            at: /tmp/build
        - run:
            name: Fetch docs
            command: |
              set -e
              mkdir -p ~/.ssh
              echo -e "Host *\nStrictHostKeyChecking no" > ~/.ssh/config
              chmod og= ~/.ssh/config
              if [ ! -d ~/mvlearn.github.io ]; then
                git clone git@github.com:/mvlearn/mvlearn.github.io.git ~/mvlearn.github.io --depth=1
              fi
        - add_ssh_keys:
            fingerprints:
              - "0f:02:d7:6c:c2:20:94:c9:3f:49:40:4c:46:39:5a:81"
        - run:
            name: Deploy docs
            command: |
              set -e;
              if [ "${CIRCLE_BRANCH}" == "main" ]; then
                git config --global user.email "circle@mvlearn.com";
                git config --global user.name "Circle CI";
                cd ~/mvlearn.github.io;
                git checkout main
                git remote -v
                git fetch origin
                git reset --hard origin/main
                git clean -xdf
                echo "Deploying dev docs for ${CIRCLE_BRANCH}.";
                cp -a /tmp/build/html/* .;
                touch .nojekyll;
                git add -A;
                git commit -m "CircleCI update of dev docs (${CIRCLE_BUILD_NUM}).";
                git push origin main;
              else
                echo "No deployment (build: ${CIRCLE_BRANCH}).";
              fi

workflows:
  version: 2.1

  default:
    jobs:
      - build_docs
      - deploy:
          requires:
            - build_docs
          filters:
            branches:
              only:
                - main
